tk
pdfplumber
pytesseract
Pillow
requests
rapidfuzz
sentence-transformers
pandas
openpyxl
flask
flask-cors
pdf2image
torch
numpy
flask
pymupdf
scikit-learn
beautifulsoup4
concurrent-log-handler
fpdf2
nltk
scipy
transformers
python-dotenv